<div class="botones">
  <button (click)="presionar('1')">1</button>
  <button (click)="presionar('2')">2</button>
  <button (click)="presionar('3')">3</button>
  <button (click)="presionar('4')">4</button>

  <button (click)="presionar('5')">5</button>
  <button (click)="presionar('6')">6</button>
  <button (click)="presionar('7')">7</button>
  <button (click)="presionar('8')">8</button>

  <button (click)="presionar('9')">9</button>
  <button (click)="presionar('0')">0</button>
  <button (click)="presionar('+')">+</button>
  <button (click)="presionar('-')">-</button>

  <button (click)="presionar('*')">*</button>
  <button (click)="presionar('/')">/</button>
  <button class="igual" (click)="calcular()">=</button>
  <button class="limpiar" (click)="limpiar()">C</button>
</div>