.botones {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  background: #132042;
}

button {
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 50%;
  background: #0d376f;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  background: #1453a3;
}

.igual {
  background: #3f51b5;
}

.limpiar {
  background: #d32f2f;
}