.contenedor {
  height: 100vh;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  gap: 25px;

  background: #0f172a;
}

.cuadro {
  width: 260px;

  height: 260px;

  border-radius: 18px;

  background: white;

  transition: 0.4s ease;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}

.texto {
  color: white;

  font-size: 22px;

  font-weight: bold;

  font-family: Arial, Helvetica, sans-serif;
}
