*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: linear-gradient(135deg, #0f172a, #1e293b);
    min-height: 100vh;
    padding: 40px;
    color: white;
}

.container{
    width: 95%;
    margin: auto;
    background: rgba(255,255,255,0.08);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
}

h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    color: #38bdf8;
}

.formulario{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 15px;
    margin-bottom: 30px;
}

.formulario input,
.formulario select{
    padding: 12px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: rgba(255,255,255,0.15);
    color: white;
}

.formulario input::placeholder{
    color: #ddd;
}

.formulario button{
    background: #38bdf8;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    padding: 12px;
}

.formulario button:hover{
    background: #0ea5e9;
    transform: scale(1.03);
}

table{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 15px;
}

thead{
    background: #38bdf8;
}

thead th{
    padding: 15px;
}

tbody tr{
    background: rgba(255,255,255,0.05);
    transition: 0.3s;
}

tbody tr:hover{
    background: rgba(255,255,255,0.12);
}

tbody td{
    padding: 15px;
    text-align: center;
}

.btn-editar{
    background: #22c55e;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}

.btn-eliminar{
    background: #ef4444;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}